{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<!DOCTYPE html>
<html>
<head>
	<title>Zinoviev Sergey</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link href="{% static '/css/bootstrap.min.css'  %}" rel="stylesheet" type="text/css">
	<link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}"/>
</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-auto">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/DSC07983.jpg' %}" >
					<hr>
					<h4 align="center">Зиновьев Сергей</h4>
					<p align="center">Дата рождения: 24.04.1992</p>
					<p align="center">г.Москва</p>
					<hr>
					<ul class="social-links">
						<h5 align="center">Контакты</h5>
						<hr>
						<p><li><img class="social" src="{% static 'images/mail.png' %}"></li> Sergey.S.Zinoviev@yandex.ru</p>
						<p><li><img class="social" src="{% static 'images/w.png' %}"></li>	Phone     +79055242407</p>
						<p><li><img class="social" src="{% static 'images/t.png' %}"></li> Telegram    +79175546691</p>
						<p><li><img class="social" src="{% static 'images/whats.png' %}"></li> WhatsApp +79055242407</p>
						<p><li><img class="social" src="{% static 'images/git.png' %}"></li><a href="https://github.com/SergeyZinoviev?tab=repositories"> github.com/SergeyZinoviev</a></p>
					</ul>
					<hr>
					<h5 align="center">Мои IT навыки</h5>
					<hr>
					<p>- Python</p>
					<p>- Django</p>
					<p>- SQL</p>
					<p>- HTML</p>
					<p>- CSS</p>
					<p>- Microsoft Office</p>
					<p>- Blender 3D</p>
					<p>- Adobe After Effects</p>
					<p>- Adobe Photoshop</p>
					<p>- Adobe Premiere</p>
				</div>
			</div>

			<div class="col-md-7">
				<div class="card card-body h-100  border-info">
					<hr>
					<h4 align="center">О себе</h4>
					<hr>
					<p>В течение года активно изучаю язык программирования Python. Начал изучение по книгам (Марк Лутц «Изучаем Python», Пол Берри «Изучаем программирование на Python» и т.д.), продолжил прохождением курсов на Stepik.org и паралельно изучал Sql, HTML, CSS. Во время обучения написал сайт-портфолио с помощью фреймворка Django, сделал парсер данных с сайта и решил множество задач по курсам, с которыми можно ознакомиться на <a href="https://github.com/SergeyZinoviev?tab=repositories"> моей странице Github</a>. В настоящий момент работаю в другой сфере и активно занимаюсь самообучением с целью устройства на работу Python программистом.</p>
					<p>Решил связать свою жизнь с программированием, потому что мне нравится идти в ногу со временем, постоянно изучать что-то новое, быть всегда в интеллектуальном тонусе, стараюсь непрерывно совершенствоваться. С удовольствием разбираюсь в программах, кодах, фреймворках. Стремлюсь постоянно автоматизировать и оптимизировать процессы и находить эффективное решение поставленных задач.</p>
					<hr>
					<h4 align="center">Пройденные курсы</h4>
					<hr>
					<p><a href="https://stepik.org/course/58852/syllabus">Поколение Python: курс для начинающих Stepik. 2021г.</a><a href="https://stepik.org/cert/1254806"> >Сертификат<</a></p>
					<p><a href="https://stepik.org/course/68343/syllabus">Поколение Python: курс для продвинутых Stepik. 2022г.</a><a href="https://stepik.org/cert/1392416"> >Сертификат<</a></p>
					<p><a href="https://stepik.org/course/63054/syllabus">Интерактивный тренажер по SQL. 2022г.</a><a href="https://stepik.org/cert/1437619"> >Сертификат<</a></p>
					<hr>
					<h4 align="center">Образование</h4>
					<hr>
					<h5>«Национальный исследовательский технологический университет «МИСиС». 2012-2016г.</h5>
					<p>По специальности: "Автоматизированные системы обработки информации и оптимизации"</p>
					<hr>
					<h5 align="center">Ключевые навыки</h5>
					<hr>
					<p>- Нацелен на результат</p>
					<p>- Аналитический склад ума</p>
					<p>- Привык доводить всю работу до конца</p>
					<p>- Пунктуальность</p>
					<p>- Быстро овладеваю новыми навыками</p>
					<p>- Умею находить эффективные решения</p>
					<p>- Умею работать с большим объемом информации</p>
										<p>- Веду здоровый образ жизни</p>
				</div>
			</div>
		</div>
		<br>

		<div class="row">
			<div class="col-md-10">
				<div class="card card-body h-100">
					<h5 align="center">Место работы</h5>
					<hr>
					<h6>Красногорский завод им. С.А. Зверева</h6>
					<h6>Регулировщик РЭА и приборов</h6>
					<p>Сентябрь 2013г. - по настоящее время.</p>
					<p>Обязанности: работа на специализированном технологическом высокоточном оборудовании по регулировке радиоэлектронной аппаратуры с использованием специализированного ПО; разработка методов регулировки и настройки радиоэлектронной аппаратуры; взаимодействие со смежными структурами; сдача продукции в ОТК и военному заказчику.
					<p>Основные достижения за время работы: прошел обучение и успешно внедрил в работу уникальное для предприятия измерительное оборудование и ПО. Составил более 10 инструкций по технологии проводимых работ. Автоматизировал процесс измерений и последующих расчетов для внесения данных в протоколы. Получил допуск к работе с электричеством до 1000 В.</p>
					<p></p>
				</div>
			</div>
		</div>
		<br>
	</div>


</body>
</html>